.home-container {
	margin: 10%;

	.well {
		background: #333;
    color: #fff;
	}

	.item-container {
		border: 2px #ccc solid;
    margin: 0px;
    border-radius: 5%;
    padding: 10px 5px 10px 5px;
    background: #3498db;
    color: #fff;
		font-weight: 400;
		font-size: 16px;

		.inner-item {
			border: 2px #aaa	 solid;
			margin: 5px;
			padding: 10px 5px 10px 5px;
			border-radius: 5%;
			background: #333;
		}

	}

	.notification {
		margin-top: 20px;
		font-size: 2em;
	}

}

@media screen and (max-width: 768px){
	.search-btn {
		margin-top: 10px;
	}
}
